html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


/* •••••••••••••••••••••••••••••••• */

header {
    width: 100%;
    background-image: url(../img/1.jpg);
    height: auto;
    display: flex;
    justify-content: center;
}

header nav {
    width: 80%;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
    padding: 10px;
    color: maroon;
    display: flex;
    justify-content: center;
    width: 12%;
    background-color: mediumspringgreen;
    color: olive;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

header nav ul li a {
    color: #0000ee;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #0000ee;
    text-decoration: underline;
}


/* •••••••••••••••••••••••••••••••• */

.home {
    width: 100%;
    height: auto;
    background-image: url("../img/1920.jpg");
    background-size: cover;
}

.home .col_1 h1 {
    display: flex;
    justify-content: center;
    background: gray;
    padding: 15px 0px 15px 0px;
}

.home .col_1 p {
    padding: 15px;
    column-count: 4;
    column-rule: 1px solid rgb(6, 181, 240);
    font-family: 'Dancing Script', cursive;
    color: #ef7878;
    text-indent: 50px;
}

.home .col_1 p button:nth-child(1) {
    padding: 15px;
    background: #15e215;
    color: white;
    border: none;
    border-radius: 50%;
}

.home .col_1 p button:nth-child(2) {
    padding: 15px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
}

button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.home .col_1 p::selection {
    background: #1B6DE0;
    color: chartreuse;
}


/* •••••••••••••••••••••••••••••••• */

.page {
    width: 100%;
    height: auto;
    background-image: url("../img/i.jfif");
    background-size: cover;
    animation: PageBg 15s infinite;
}

@keyframes PageBg {
    from {
        background-image: url("../img/e.jpg");
    }
    to {
        background-image: url("../img/booke.jpg");
    }
}

.page .col_1 h2 {
    display: flex;
    justify-content: center;
    background: gray;
    padding: 15px 0px 15px 0px;
}

.page .col_1 p {
    padding: 15px;
    column-count: 6;
    column-rule: 1px solid rgb(6, 181, 240);
    font-family: 'Dancing Script', cursive;
    color: darkblue;
    text-indent: 50px;
}

.page .col_1 p::selection,
.page .col_1 h2::selection {
    background: orange;
    color: chartreuse;
}


/* •••••••••••••••••••••••••••••••• */

.contact {
    width: 100%;
    height: auto;
}

.contact .col_1 {
    background-image: url("../img/2.jpg");
    background-size: cover;
}

.contact .col_1 h2 {
    display: flex;
    justify-content: center;
    background: gray;
    padding: 15px 0px 15px 0px;
}

.contact .col_1 p {
    padding: 15px;
    column-count: 6;
    column-rule: 1px solid rgb(6, 181, 240);
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    text-indent: 50px;
}

.contact .col_1 p::selection,
.contact .col_1 h2::selection {
    background: rgb(24, 175, 245);
    color: rgb(136, 245, 35);
}

.contact .col_2 {
    width: 100%;
}

.contact .col_2 iframe {
    width: 100%;
    height: 450px;
}